.container {
  margin-top: 5%;
}

.first {
  width: 50%;
  display: inline-block;
  float: left;
}

.second {
  width: 25%;
  display: inline-block;
  background-color: blue;
}

.third {
  width: 25%;
  display: inline-block;
  background-color: yellow;
}

@media screen and (max-width: 500px) {
  .first,
  .second,
  .third {
    width: 70%;
  }
}
