.header {
  overflow: hidden;
  padding: 0 10px;
}

.header a {
  float: right;
  margin-top: 1%;
}

.title {
  float: left;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .title {
    float: none;
  }
}
