.header {
  overflow: hidden;
  padding: 0 10px;
}

.header a {
  float: right;
  margin-top: 1%;
}

.header a {
  float: right;
  display: block;
  text-align: left;
}

.right {
  float: right;
}
.left {
  float: left;
}

.title {
  float: left;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .header a {
    float: left;
    display: block;
    text-align: left;
    width: 100%;
  }

  .header a button {
    width: 100%;
  }

  .header select {
    float: right;
    display: block;
    text-align: left;
  }

  .title {
    float: none;
  }
}
